.title-collapse {
    color: #80744A;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 300px;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: black;
    width: 300px;
}

.collapse-content.open {
    max-height: 500px;    
}

.collapse-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #80744A;
    margin-left: 15px;
}