.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    color: sienna;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.id{
    height: 50px;
}

@media screen and (max-width: 767px) {

    .id {
        height: 20px;
    }

}