.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 50px 0 50px;
}

.projets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.each-projet img {
    max-width: 200px;
    margin-bottom: 0;
    opacity: 0.7;
    border: 1px solid #80744A;
}

.each-projet {
    display: flex;
    flex-direction: column;
}



.projets {
display: flex;
justify-content: center;
align-items: center;
}

